.log__contain {
  margin-top: 23px;
}
.log__content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: var(--color-white);
  width: 300px;
  height: 350px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
}
.log__content img {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}
.log__content p {
  margin-bottom: 15px;
  font-weight: bold;
}
.log__p {
  color: #9e8686;
}
.log__btn {
  background-color: var(--color-red);
  color: var(--color-white);
  padding: 10px 20px;
  border-radius: 5px;
  margin-top: 10px;
}